---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import About from "../../components/About.astro";
import Clients from "../../components/Clients.astro";
import Features from "../../components/Features.astro";
import Services from "../../components/Services.astro";
import Contact from "../../components/Contact.jsx";
import CTA from "../../components/CTA.astro";
import Counts from "../../components/Counts.astro";
import Testimonials from "../../components/Testimonials.astro";
import Team from "../../components/Team.astro";
---

<Layout title="UniKode" Lang={"en"}>
  <Hero Lang={"en"} />
  <main id="main">
    <About Lang={"en"} />
    <Clients Lang={"en"} />
    <Features Lang={"en"} />
    <Services Lang={"en"} />
    <CTA Lang={"en"} />
    <Counts Lang={"en"} />
    <Testimonials Lang={"en"} />
    <Team Lang={"en"} />
    <Contact client:only />
  </main>
</Layout>
