---
import Layout from "../layouts/Layout.astro";
---

<style>
    .hi{padding: 100px;}
  .my-list {
    display: none; /* hide the list by default */
  }

  .toggle-btn:focus + .my-list {
    display: block; /* show the list when the button is focused */
  }
</style>
<Layout title={"ee"}>
     <div class="hi">
  <button class="toggle-btn" id="toggleBtn">Toggle List</button>
  <ul class="my-list" id="myList">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
 </div>
</Layout>

<!-- <script client:onLaod>
    const toggleBtn = document.getElementById('toggleBtn');
const myList = document.getElementById('myList');

toggleBtn.addEventListener('click', () => {
    console.log(myList);
  myList.classList.toggle('show');
});

</script> -->
