---
const { Lang } = Astro.props;
---

<section id="clients" class="clients">
  <div class="container" data-aos="zoom-in">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <img src="assets/img/clients/docker.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/vercel.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/AWS.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/azure.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/firebase.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/img/clients/digitalOcean.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/heroku.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/img/clients/github.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
