---
const Lang =
  localStorage.getItem("Lang") || localStorage.setItem("Lang", "eng");

---
   <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Collaboration is the key to delivering high-quality solutions that exceed client expectations.</h3>
              <p>
             Our team is dedicated to provide exceptional services to our clients We take a collaborative approach to every project, working closely with clients to understand their unique requirements and goals
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Happy Clients</strong> who have experienced the benefits of our solutions firsthand.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Projects</strong>delivering high-quality solutions that exceed their expectations. Our team of professionals takes a collaborative approach to every project, working closely with clients to understand their unique requirements and goals. </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Years of experience</strong> as a team providing top-notch solutions to clients across various industries. Our team of experts brings a wealth of knowledge and expertise to every project, ensuring that our clients receive the best possible service. We're committed to staying up-to-date with the latest trends and technologies</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Awards</strong> for our outstanding solutions and services. These awards recognize our team's hard work, dedication, and commitment to excellence. Our track record of success speaks for itself, and we continue to strive for even greater achievements.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>