---
const { Lang } = Astro.props;
---

<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="text-center">
      <h3>{Lang == "en" ? "Call To Action" : "Appel à l'action"}</h3>
      <p>
        {
          Lang == "en"
            ? "Take action today and join our community of satisfied customers! Click the button below to get started and discover how our services can help you achieve your goals."
            : "Passez à l'action dès aujourd'hui et rejoignez notre communauté de clients satisfaits ! Cliquez sur le bouton ci-dessous pour commencer et découvrir comment nos services peuvent vous aider à atteindre vos objectifs."
        }
      </p>
      <a class="cta-btn" href="#"
        >{Lang == "en" ? "Call To Action" : "Appel à l'action"}</a
      >
    </div>
  </div>
</section>
