---
const Lang =
  localStorage.getItem("Lang") || localStorage.setItem("Lang", "eng");

---
<section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p>Take action today and join our community of satisfied customers! Click the button below to get started and discover how our services can help you achieve your goals.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section>