---
const Lang =
  localStorage.getItem("Lang") || localStorage.setItem("Lang", "eng");

---

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-7 col-lg-8">
          <h1>{Lang=='en'?'Powerful Digital Solutions With UniKode':'Des solutions numériques puissantes avec DevUp'}<span>.</span></h1>
          <h2>{Lang=='en'?' We are':'Nous sommes'} <span>{Lang=='en'?'team':'équipe'}</span> {Lang=='en'?'of talented full-stack developers':'de développeurs full-stack talentueux'}</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" id="hello">
        <!-- <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Lorem Ipsum</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">statistics</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">agenda</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">themes</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">security</a></h3>
          </div>
        </div> -->
        
      
          <h1>
            <span>always be</span>
            <div class="message">
                 <div class="word3">neat</div>
              <div class="word1">close</div>
              <div class="word2">code</div>
           
            </div>
          </h1>
        
      </div>

    </div>
  </section>