---
const { Lang } = Astro.props;
---

<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">
    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/amine.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Amine Amdouni</h3>
          
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {
                Lang == "en"
                  ? "At our core, we're problem solvers.Our team loves tackling complex challenges and finding innovative solutions to help our clients succeed."
                  : "Nous sommes avant tout des spécialistes de la résolution de problèmes. Notre équipe aime relever des défis complexes et trouver des solutions innovantes pour aider nos clients à réussir."
              }
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->
<div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/abderrahim.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Abderrahim Ouertani</h3>
          
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {
                Lang == "en"
                  ? "The front end is the gateway to an app's success, as it serves as the visual and interactive interface that captivates users, enabling seamless navigation, delightful experiences, and ultimately shaping their perception and engagement with the application."
                  : "La partie frontale est la porte d'entrée du succès d'une application, car elle sert d'interface visuelle et interactive qui captive les utilisateurs, permettant une navigation transparente et des expériences agréables, et façonnant finalement leur perception et leur engagement vis-à-vis de l'application."
              }
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->
        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/aziz.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Med Aziz Selini</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {
                Lang == "en"
                  ? "We believe that great design should be accessible to everyone. That's why we work hard to deliver beautiful, user-friendly products that are as functional as they are visually stunning."
                  : "Nous pensons qu'un design de qualité doit être accessible à tous. C'est pourquoi nous nous efforçons de proposer des produits magnifiques et conviviaux, aussi fonctionnels qu'étonnants sur le plan visuel."
              }
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/wiem.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Wiem Mimouni</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {
                Lang == "en"
                  ? "Our team is made up of passionate, dedicated professionals who are always striving to improve. We never settle for mediocrity and always push ourselves to deliver our very best work."
                  : "Notre équipe est composée de professionnels passionnés et dévoués qui s'efforcent toujours de s'améliorer. Nous ne nous contentons jamais de la médiocrité et nous nous efforçons toujours de fournir le meilleur travail possible."
              }
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/houssem.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>houssem Bouraoui</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {
                Lang == "en"
                  ? "Communication is key in any successful project. That's why we prioritize transparency and collaboration, working closely with our clients every step of the way to ensure their vision becomes a reality."
                  : "La communication est la clé de tout projet réussi. C'est pourquoi nous privilégions la transparence et la collaboration, en travaillant en étroite collaboration avec nos clients à chaque étape du processus pour faire en sorte que leur vision devienne réalité."
              }
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item --->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/mehdi.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Mahdi Ennabli</h3>
            
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {
                Lang == "en"
                  ? " We believe in building strong, long-lasting relationships with our clients. By understanding their needs and goals, we can deliver truly personalized solutions that make a real impact."
                  : "Nous croyons en la nécessité d'établir des relations solides et durables avec nos clients. En comprenant leurs besoins et leurs objectifs, nous pouvons proposer des solutions vraiment personnalisées qui ont un impact réel."
              }
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
