---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang={"eng"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="preloader"></div>

    <NavBar />
    <slot />
    <Footer />
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i></a
    >

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js" is:inline
    ></script>
    <script src="assets/vendor/aos/aos.js" is:inline></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js" is:inline
    ></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js" is:inline
    ></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js" is:inline
    ></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js" is:inline></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>

    <script src="assets/js/main.js" client:onLoad></script>
    <script client:onLoad>

const currentLang = document.querySelector('.current-language');
console.log(currentLang,'hi');
const langList = document.querySelector('.language-list');
// const langLinks = document.getElementById('language-link1');
// console.log(langLinks);
// langLinks.addEventListener('click', () => {
//   console.log('hi')
//   // event.preventDefault();

// });


// langLinks.forEach(langLink => {
  
//   langLink.addEventListener('click', (event) => {
//     console.log('hih')
//     event.preventDefault();
//     currentLang.innerHTML = langLink.innerHTML;
//     langList.classList.toggle('show');
//   });
// });



const toggleBtn = document.getElementById('toggleBtn');
const myList = document.getElementById('myList');

toggleBtn.addEventListener('click', () => {
  myList.classList.toggle('show');
});

    </script>
  </body>
</html>
<style is:global>
  :root {
  }
  html {
  }
  code {
  }
</style>
